[Unit]
Description=Controle Cantina

[Service]
ExecStart=/home/pi/AutomacaoCantina/almoco/controleBarCode.py
Restart=always

[Install]
WantedBy=default.target
