[Unit]
Description=Controle Cantina - getRemoteIp

[Service]
ExecStart=/home/ubuntu/AutomacaoCantina/almoco/getRemoteIp.py
Restart=always

[Install]
WantedBy=default.target
